@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Overpass+Mono:wght@400;500;700&display=swap");

:root {
  /* color palette */
  --primary: #5c9ead;
  --secondary: #5941a9;
  --black: #231f20;
  --white: #eeeeee;
  --accent: #ffafcc;
  --accent-hot: #ff5666;

  /* font */
  --font-size: 1.3rem;
  --sans: "Montserrat", sans-serif;
  --mono: "Overpass Mono", monospace;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  background-color: var(--black);
  color: var(--white);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--accent-hot);
}

/* nav styles */
nav {
  padding: 4rem 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-flow: row wrap;
  font-family: var(--mono);
}

#logo {
  font-size: 100%;
  color: var(--primary);
  margin-right: 0.25rem;
}

nav li {
  text-align: center;
}

nav li:first-child {
  flex-basis: 100%;
  font-size: 150%;
}

nav a {
  font-size: 80%;
  display: block;
}

li [class*="fa-"] {
  font-size: 150%;
  color: var(--white);
}

li [class*="fa-"]:hover {
  color: var(--accent-hot);
}

.button {
  display: block;
  background-color: var(--secondary);
  padding: 0.5rem 0.5rem 0.35rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s ease-out;
  margin-top: -2px;
}

.button:hover {
  /* padding: 0.55rem 0.55rem 0.4rem; */
  color: var(--white);
  background-color: var(--accent-hot);
  transform: scale(1.05);
}
