@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Overpass+Mono:wght@400;500;700&display=swap");

:root {
  /* color palette */
  --primary: #5dc7df;
  --secondary: #5941a9;
  --black: #171414;
  --white: #f7f7f7;
  --accent: #ff4053;

  /* font */
  --font-size: 1.3rem;
  --sans: "Montserrat", sans-serif;
  --mono: "Overpass Mono", monospace;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  font-size: var(--font-size);
  background-color: var(--black);
  color: var(--white);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--white);
}

a:hover {
  color: var(--accent);
}

/* nav styles */
nav {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-flow: row wrap;
  font-family: var(--mono);
}

#logo {
  color: var(--primary);
}

nav li {
  text-align: center;
}

nav li:first-child {
  flex-basis: 100%;
  font-size: 90%;
}

nav a {
  font-size: 80%;
  display: block;
  text-decoration: none;
}

nav a:first-of-type {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  align-items: baseline;
}

li [class*="fa-"] {
  font-size: 150%;
  color: var(--white);
}

li [class*="fa-"]:hover {
  color: var(--accent);
}

.button {
  display: block;
  background-color: var(--secondary);
  padding: 0.5rem 0.5rem 0.35rem;
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.2s ease-out;
  margin-top: -2px;
}

.button:hover {
  color: var(--white);
  background-color: var(--accent);
  transform: scale(1.05);
}

@media (min-width: 850px) {
  nav li:first-child {
    flex-basis: auto;
    margin-right: auto;
    margin-top: -3px;
  }
}

/* intro styles */
#intro {
  padding: 4rem 1rem 10rem;
  max-width: 1200px;
  margin: auto;
}

#intro hgroup p {
  font-family: var(--mono);
}

.name {
  display: block;
  font-size: 4rem;
  color: var(--primary);
  font-family: var(--sans);
  font-weight: 500;
  margin-left: -2.5px;
}

#intro h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-left: -1px;
}

#intro > p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 1em 0;
}

#intro a {
  color: var(--accent);
}

#intro a:hover {
  text-decoration: none;
}
